.registerFrom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	& > input {
		color: black;
		font-size: large;
		background-color: hsl(0, 0%, 85%);
		padding: 0.5em;
	}
}