.header {
	width: 100%;
	max-height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 50px;
	background-color: hsl(0, 3%, 48%);
	
	.headerItem:first-child {
		margin-left: 20px;
	}

	.headerItem:last-child {
		margin-left: auto;
		margin-right: 50px;
	}

	.appLogo {
		font-family: "Squarefont";
		font-size: x-large;
		color: white;
		white-space: nowrap;
	}

	& > button {
		max-width: 200px;
		display: inline-block;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-top: auto;
		margin-bottom: auto;
		white-space: nowrap;
		background-color: transparent;
		border: 2px solid white;
		transition: all ease-in-out 0.2s;

		&:hover {
			color: black;
			background-color: white;
		}
	}
}