.navbar {
	width: fit-content;
	height: 100%;
	padding: 1em;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		column-gap: 20px;
		list-style-type: none;

		li {
			a {
				transition: all ease-in 500ms;
				font-weight: 500;
				color: white;
				font-size: large;
				text-decoration: none;

				&:hover {
					font-weight: 800;
				}

				&.activeNav {
					border-bottom: 2px solid white;
				}
			}
		}
	}
}